<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="processing.test.np_instruction_screen1"><uses-sdk android:minSdkVersion="18"/><application android:debuggable="true" android:icon="@drawable/icon" android:label="NP_instruction_screen1"><activity android:name=".NP_instruction_screen1"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>